# Ignore phpstorm garbage
.idea/

# hiding my fuckups
*.old.*

# Ignore some backup stuff
*.sql
_backup
!*.jpg
_src

# Ignore super secret stuff
/trellis/.vault_pass

# Node
node_modules
test/results
test/coverage

# OS X garbage
.DS_Store
._*
.Spotlight-V100
.Trashes
*.log

# Just until it's finished.
# README.md

