/**
 * Custom editor styles for galyonj.com
 * Version: 2.0.0
 * Text Domain: galyonj
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 */
@import url("https://fonts.googleapis.com/css?family=Bitter|Fira+Mono|Fira+Sans:300,300i,500,500i");
/*
 * Anything within the body#tinymce block is for controlling
 * the appearance of content within the WYSIWYG editor
 */
#tinymce {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.728;
  margin: 15px 30px; }
  #tinymce h2, #tinymce h3, #tinymce h4, #tinymce h5, #tinymce h6 {
    color: inherit;
    font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.1; }
  #tinymce h2 {
    font-size: 36px; }
  #tinymce h3 {
    font-size: 30px; }
  #tinymce h4 {
    font-size: 25px; }
  #tinymce h5 {
    font-size: 21px; }
  #tinymce h6 {
    font-size: 17px; }
  #tinymce h2, #tinymce h3 {
    margin-bottom: 14.5px;
    margin-top: 29px; }
  #tinymce h4, #tinymce h5, #tinymce h6 {
    margin-bottom: 14.5px;
    margin-top: 14.5px; }
  #tinymce a {
    color: #e37222;
    font-weight: 600;
    text-decoration: none; }
  #tinymce blockquote {
    border-left: 10px solid #eeeeee;
    font-size: 21.25px;
    margin: 0 0 29px;
    padding: 14.5px 29px; }
    #tinymce blockquote p:first-of-type {
      margin-top: 0; }
    #tinymce blockquote footer {
      color: #777777;
      display: block;
      font-size: 17px;
      line-height: 1.728; }
      #tinymce blockquote footer:before {
        content: '\2014 \00A0'; }
  #tinymce .lead {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 29px; }
    @media (min-width: 768px) {
      #tinymce .lead {
        font-size: 25.5px; } }
  #tinymce .btn {
    background-color: #e37222;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.728;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; }
  #tinymce .well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px; }
    #tinymce .well > h2,
    #tinymce .well > h3 {
      margin-top: 0; }
    #tinymce .well p:last-of-type, #tinymce .well p:only-of-type {
      margin: 0 !important; }
    #tinymce .well.half-left, #tinymce .well.half-right {
      float: none;
      margin: 20px 0 0 0;
      width: 100%; }
    #tinymce .well.half-left {
      float: left;
      margin: 0 20px 20px 0;
      width: 50%; }
    @media screen and (min-width: 768px) {
      #tinymce .well.half-left {
        float: left;
        margin: 0 20px 20px 0;
        width: 50%; }
      #tinymce .well.half-right {
        float: right;
        margin: 0 0 20px 20px;
        width: 50%; } }
  #tinymce ol:not([class]) {
    display: table;
    margin-left: 0;
    padding-left: 0; }
    #tinymce ol:not([class]) li {
      counter-increment: table-ol;
      display: table-row;
      float: none;
      font-weight: 300;
      list-style: none; }
      #tinymce ol:not([class]) li:before {
        content: counter(table-ol) ".";
        display: table-cell;
        padding-right: 10px;
        text-align: right; }
  #tinymce ul.text-columns, #tinymce ul.list--multi-col {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    margin: 0 0 14.5px;
    padding: 0; }
    #tinymce ul.text-columns li, #tinymce ul.list--multi-col li {
      font-weight: 300; }
  #tinymce ul.two-column, #tinymce ul.three-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
  #tinymce ul.two-column li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 30px 0;
    width: 48.5%; }
    #tinymce ul.two-column li:nth-of-type(even) {
      margin: 0 0 30px 0; }
  #tinymce ul.three-column li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 30px 0;
    width: 31.5%; }
    #tinymce ul.three-column li:nth-of-type(3n) {
      margin: 0 0 30px 0; }
  #tinymce ul:not([class]) {
    display: table;
    margin-left: 0;
    padding-left: 0; }
    #tinymce ul:not([class]) li {
      display: table-row;
      float: none;
      font-weight: 300;
      list-style: none; }
      #tinymce ul:not([class]) li:before {
        content: "\25FC";
        display: table-cell;
        padding-right: 10px; }
  #tinymce img {
    height: auto; }
    #tinymce img.aligncenter {
      margin: 0 0 20px;
      width: 100%;
      height: auto; }
    #tinymce img.alignleft {
      float: left;
      margin: 0 20px 20px 0;
      width: 50%; }
      #tinymce img.alignleft.headshot {
        width: 30%; }
    #tinymce img.alignnone {
      margin: 0 0 20px;
      width: 100%; }
    #tinymce img.alignright {
      float: right;
      margin: 0 0 20px 20px;
      width: 50%; }
      #tinymce img.alignright.headshot {
        width: 30%; }
  #tinymce .mceTemp {
    float: right;
    height: auto;
    margin: 0 0 20px 20px;
    width: 50%; }
    #tinymce .mceTemp dl.wp-caption {
      border: 1px solid #d9d9d9;
      height: auto;
      padding: 5px; }
      #tinymce .mceTemp dl.wp-caption.aligncenter {
        margin: 0 0 20px;
        width: 100%; }
      #tinymce .mceTemp dl.wp-caption.alignleft {
        float: left;
        margin: 0 20px 20px 0;
        width: 50%; }
        #tinymce .mceTemp dl.wp-caption.alignleft.headshot {
          width: 30%; }
      #tinymce .mceTemp dl.wp-caption.alignnone {
        margin: 0 0 20px;
        width: 100%; }
      #tinymce .mceTemp dl.wp-caption.alignright {
        float: right;
        margin: 0 0 20px 20px;
        width: 50%; }
        #tinymce .mceTemp dl.wp-caption.alignright.headshot {
          width: 30%; }
