header:not( [class] ) {
	border-bottom: 1px solid $gray-darker;
	border-top: 10px solid $gray-darker;
}
.navbar-header {
	background: transparent;
	border: 0;
	height: 150px;
	margin: 0;
	padding-top: 10px;
}
.navbar-brand {
	z-index: 1000;
	img {
		width: 100px;
		height: auto;
	}
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0;
	border-width: 0;

	.navbar-toggle {
		background: transparent;
		border:     none;
		margin-top: 80px;

		.icon-bar {
			background-color:           $brand-primary;
			height:                     6px;
			transition:                 opacity, transform;
			transition-duration:        $speed;
			transition-timing-function: $easing;
			width:                      40px;

			& + .icon-bar {
				margin-top: 6px;
			}
		}

		&:hover,
		&:focus {
			background: transparent;
		}

		&:not(.collapsed) {
			.icon-bar {
				&:nth-child(1) {
					transform: translateY(12px) rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
					transform: translateX(-100%);
				}
				&:nth-child(3) {
					transform: translateY(-12px) rotate(-45deg);
				}
			}
		}
	}

	.navbar-nav {
		background-color: $gray-darker;
	}
}
.navbar-default {
	.navbar-collapse {
		border: 0;
	}
}
.navbar-default {
	.navbar-form {
		border: 0;
		padding: 0 15px;
	}
}

.navbar-collapse {
	background: transparent;
	border: transparent;

	.navbar-nav {
		border-top: 1px solid $gray-lighter;
		margin-bottom: 0;
		margin-top: 0;

		li {
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);
			padding: 0;
			transition: all 200ms ease-in-out;

			&:hover {
				background-color: rgba(0, 0, 0, 0.15);
			}

			&:last-of-type {
				background-color: transparent;
				border-bottom: none;
				padding: 15px;
			}

			a {
				color:       rgba( 255, 255, 255, 0.65 );
				font-size:   24px;
				//font-family: $font-family-sans-serif;
				//font-weight: 300;
				font-family: $headings-font-family;
				padding:     15px 15px 8px;
				transition:  all 200ms ease-in-out;
				text-align:  center;

				&:active,
				&:focus,
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
.navbar-form {
	box-shadow: none;

	.search-query {
		background: $gray-dark;
		border: 1px solid rgba(0, 0, 0, 0);
		color: #fff;
		transition: all 300ms ease-in-out;
	}

	.form-control {
		&:focus {
			background: $gray-base;
			border: 1px solid rgba(0, 0, 0, 0.8);
			box-shadow: none;
			color: #fff;
		}
	}
}

@media #{ $small } {
	.navbar {
		.container {
			padding: 0;
			width: 100%;
			background: $gray-darker;
		}
		.navbar-nav {
			display: inline-block;
			float: none;
			vertical-align: top;
		}
		.navbar-collapse {
			text-align: center;
		}
	}
	.navbar-default {
		.navbar-nav {
			border: none;
			padding-top: 0;

			> li {
				border: none;
				display: inline-block;
				padding: 25px 40px 15px 0;
				vertical-align: middle;

				&:last-of-type {
					padding-right: 0;
				}

				&:active,
				&:focus,
				&:hover {
					background: transparent;
				}

				> a {
					padding:   0;
					font-size: 18px;
				}
			}
		}
		.navbar-form {
			margin: 0;
			padding: 0;

			.form-control {
				font-size: 15px;
				height: auto;
			}
			.input-group-btn {
				.btn {
					font-size: 15px;
				}
			}
		}
	}
	.navbar-collapse {
		padding: 0;
		position: relative;
	}
	.navbar-header {
		background: #fff;
		position: relative;
		width: 100%;

		.navbar-brand {
			position: absolute;
			transform: translatex(-50%);
			left: 50%;
		}
	}
}

@media #{ $medium } {
	.navbar-default {
		.navbar-nav {

			> li {
				padding: 25px 78px 15px 0;
				vertical-align: middle;

				&:last-of-type {
					padding-right: 0;
				}

				> a {
					font-size: 20px;
				}
			}
		}
	}
}

@media #{ $large } {
	.navbar-header {
		height: 200px;
	}
	.navbar-brand {
		img {
			width: 130px;
			height: auto;
		}
	}
	.navbar-default {
		.navbar-nav {

			> li {
				padding: 25px 110px 15px 0;
				vertical-align: middle;

				&:last-of-type {
					padding-right: 0;
				}

				> a {
					font-size: 23px;
				}
			}
		}
	}
}